body {
    font-family: Arial, sans-serif;
    background-color: #f9d1d1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.dice {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px #d22f2f;
}

.dice h1 {
    margin-top: 0;
    color: #d22f2f;
}

.dice-display {
    margin-bottom: 20px;
}

#diceImage {
    width: 100px;
    height: 100px;
    transition: transform 0.5s ease-in-out;
}

button {
    background-color: #d22f2f;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #9d0e0eec;
    border: solid black 2px;
}
